@model IEnumerable<Library.io.Models.Rental>

@{
    ViewData["Title"] = "Index";
}

<h2>List of rentals</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expiration)
            </th>
            <th>Book</th>
            <th>Authors</th>
            <th>Rented to</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Expiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="Delete" asp-route-id="@item.ID">Return</a>
            </td>
        </tr>
}
    </tbody>
</table>
